table
{
	width: 100%;
	border-collapse: collapse;
}

table td, table th
{
	border: solid 1px var(--color);
	padding-left: 1em;
	padding-right: 1em;
}

table td ul, table th ul
{
	padding-left: 1em;
}

.borderless
{
	border: none;
}
