:root
{
	--background-color: white;
	--input-focused-color: highlight;
	--input-unfocused-color: #EEE;

	--main-width: 85vw;
	--button-color: black;
}

main
{
	width: var(--main-width);
	margin-right: auto;
	margin-left: auto;
}

header
{
	z-index: 2;
	padding-left: 6vw;
	padding-right: 6vw;
	position: sticky;
	top: 0px;
	background-color: var(--background-color);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1.5rem;
	border-bottom: solid 1px black;
}

h1
{
	margin-bottom: 0.5rem;
}

#toolbox
{
	display: flex;
	flex-direction: row;
	justify-content: end;
	column-gap: 0.5rem;
}

.hover-button
{
	position: relative;
	width: 3rem;
	aspect-ratio: 1;
	background-image: var(--background-image);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.hover-button:after
{
	opacity: 0;
	content: attr(data-tooltip);

	background-color: gray;
	color: white;
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	position: absolute;
}

.hover-button:hover:after
{
	transition: opacity 0.5s;
	opacity: 1;
}

.section
{
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.section .title
{
	color: gray;
	margin: 0;
}

.line_wrap_form label,
.wrapping
{
	margin-top: 0.25rem;
	display: block;
}

.line_wrap_form input
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	margin-bottom: 1px;
}

.line_wrap_form input:focus
{
	border-bottom: 2px solid highlight;
	margin-bottom: 0;
	outline: none;
}


.download-button
{
	color: var(--button-color);
	border-radius: 1rem;
	border: solid 4px var(--button-color);
	padding: 0.5rem;
}

.download-button:hover
{
	color: white;
	background-color: var(--button-color);
}
