.graph-scale-factor
{
	display: flex;
	flex-direction: column;
	row-grap: 1rem;
	align-items: center;
}

.graph-scale-factor input
{
	width: 100%;
}

.graph-scale-factor p
{
	margin: 0;
}

.graph-scale-factor_value
{
	background-color: rgba(175, 184, 193, 0.2);
	padding: .2rem .4rem;
	border-radius: 6px;
}
